.footer {
  background: $bg-color-variante;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    & > .btn > .icon {
      color: $bg-color-variante;
    }

    @media screen and (max-width: 480px) {
      padding: 0.5rem;
    }

    @media screen and (max-width: 1024px) {
      padding: 0.5rem;
    }
  }
}
