header {
  height: $height-normal;
  width: 100%;
  overflow: hidden;
}

// estilos del navbar
nav.active {
  background-color: $bg-color;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: $box-shadow1;
  z-index: 100;

  .contenido {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  @media screen and (max-width: 640px) {
    &__links {
      display: none;
      width: 10rem;
      top: 4rem;
      right: 0;
      background: $bg-color-variante;
      position: absolute;
      flex-direction: column;
      z-index: 10;
      border-radius: 0.2rem;
      align-items: center;
      gap: 0;

      &-link {
        padding: 0.8rem;
      }
    }
    & > .toggle {
      display: block;
    }
  }
}

.nav {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: $fontSizeSubtitulo;
    font-weight: 600;
    letter-spacing: 0.1rem;

    &:hover > a {
      transition: all 500ms ease;
      color: $color-turquesa;
    }
  }

  &__links {
    display: flex;
    gap: 2rem;
    font-size: $fontSizeTexto;
    font-weight: 400;

    &-link:hover > a {
      transition: all 500ms ease;
      color: $color-turquesa;
    }

    &-link.active > a {
      color: $color-turquesa;
    }
  }

  & > .toggle {
    display: none;
  }

  @media screen and (max-width: 640px) {
    &__links {
      display: none;
      width: 10rem;
      top: 4rem;
      right: 0.5rem;
      background: $bg-color-variante;
      position: absolute;
      flex-direction: column;
      z-index: 10;
      border-radius: 0.2rem;
      align-items: center;
      gap: 0;

      &-link {
        padding: 0.8rem;
      }

      &.active {
        display: flex;
      }
    }
    & > .toggle {
      display: block;
      width: 2rem;
    }
  }
}

// estilos del inicio
.inicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: 100%;
  position: relative;

  .inicio__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    &-titulo {
      font-size: $fontSizeTitulo1;
      font-weight: 600;
    }

    &-subtitulo {
      font-size: $fontSizeSubtitulo;
      margin-top: 0.5rem;
      color: $color-turquesa;
    }

    &-texto {
      color: $color-gris;
      font-size: $fontSizeTexto;
    }

    & > .btn {
      font-weight: 500;
    }

    &-redes {
      margin-top: 4rem;
      font-size: 1.5rem;
      display: flex;
      gap: 2rem;

      & > a {
        color: $color-turquesa;
        width: 1.9rem;

        &:hover {
          transition: all 500ms ease;
          color: $color-blanco;
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    & {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 800px) {
    & {
      margin-top: 5rem;
    }
  }

  @media screen and (max-width: 1024px) {
    &-titulo {
      font-size: $fontSizeSubtitulo2;
      font-weight: 600;
    }

    &-subtitulo {
      font-size: $fontSizeTexto2;
    }
  }

  .inicio__imagen {
    display: grid;
    place-items: center;

    &-imagen {
      width: 25rem;

      &-modificacion {
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (max-width: 640px) {
      &-imagen {
        display: none;
      }
    }

    @media screen and (max-width: 1024px) {
      &-imagen {
        width: 20rem;
      }
    }
  }
}
