$bg-color: hsl(205, 67%, 10%);
$bg-color-variante: hsl(204, 59%, 16%);
$color-blanco: hsl(0, 0%, 100%);
$color-gris: hsl(0, 0%, 70%);
$color-turquesa: hsl(180, 100%, 50%);
$box-shadow1: 0 0rem 1.3rem hsla(0, 0%, 0%, 0.3);

$fontSizeTitulo1: 2.2rem;
$fontSizeTitulo2: 3.2rem;
$fontSizeSubtitulo: 1.2rem;
$fontSizeSubtitulo2: 1.5rem;
$fontSizeTexto: 0.9rem;
$fontSizeTexto2: 1rem;

$height-normal: calc(100vh - 4rem);
